body {
  background-color: #C8D0D2; 
  margin: 0; 
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 0 1.5rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: .5rem;
}

.form-group > label {
  color: #777;
  font-size: .75rem;
  margin-bottom: .25rem;
}

.btn {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: .5em, 1em;
  border-radius: .3em;
  border: none;
  cursor: pointer;
}

.To-Login-Btn {
  background-color: hsl(340, 100%, 50%);
  color: white;
  padding: .5em, 1em;
  border-radius: .3em;
  border: none;
  cursor: pointer;
  margin-left: auto;
}
.To-Login-Btn:hover {
  background-color: hsl(340, 100%, 40%);
}

.btn:hover {
  background-color: hsl(200, 100%, 40%);
}

.container {
  max-width: 900px;
  margin: 1rem auto;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  background-color: white;
  transform-style: preserve-3d;
  transition: transform 0.15s;
  cursor: pointer;
  transform: perspective(1000px) 
    rotateY(var(--rotate-y, 0deg)) 
    translateY(var(--translate-y, 0px));
}

.card:hover {
  --translate-y: -5px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, .5); 
}

.card.flip {
  --rotate-y: 180deg;
  transition: transform 0.15s;
  transform-style: preserve-3d;
}

.card .front, .card .back {
  position: absolute;
  padding: 1.5rem;
  overflow: auto;
  backface-visibility: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.card .back {
  transform: rotateY(180deg);
  font-size: 2rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.15rem;
}

li {
  margin-bottom: .5rem;
}


.flashcard-options {
  margin-top: 1rem;
}

.card-option {
  margin-top: .25rem;
  color: #555;
  font-size: 1rem;
}

.flashcard-options:first-child {
  margin-top: 0;
}