body {
  background-color: #C8D0D2; 
  margin: 0; 
}

.deck {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  background-color: white;
  cursor: pointer;
}

.deck:hover {
  --translate-y: -5px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, .5); 
}
