body {
  background-color: #C8D0D2;
  display: flex;
  align-items: flex-start; /* Giữ nội dung ở đầu trang */
  min-height: 100vh; /* Chiếm toàn bộ chiều cao màn hình */
  padding: 2rem; /* Thêm khoảng đệm xung quanh */
  margin: 0; /* Loại bỏ margin mặc định của body */
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  background-color: white;
  height: 250px;
  width: 250px;
  transform-style: preserve-3d;
  transition: transform 0.15s;
  cursor: pointer;
  transform: perspective(1000px) 
    rotateY(var(--rotate-y, 0deg)) 
    translateY(var(--translate-y, 0px));
}

.card:hover {
  --translate-y: -5px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, .5); 
}

.card.flip {
  --rotate-y: 180deg;
  transition: transform 0.15s;
  transform-style: preserve-3d;
}

.card .front, .card .back {
  position: absolute;
  padding: 1.5rem;
  overflow: auto;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
  font-size: 2rem;
}

h2 {
  margin-bottom: 1rem
}

li {
  margin-bottom: .5rem;
}


.flashcard-options {
  margin-top: 1rem;
}

.card-option {
  margin-top: .25rem;
  color: #555;
  font-size: 1rem;
}

.flashcard-options:first-child {
  margin-top: 0;
}